[Unit]
Description=v2mngo
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=v2mngo -tg tokent123456
Restart=always
RestartSec=60s
User=root

[Install]
WantedBy=default.target